/*Menubar is the horizontal menu at the very top*/
.Menubar {
	grid-column: 1/3;
	grid-row: 1/2;
}

/* --menubar-height  */
/* --app-font-size  */
/* --menubar-border-width  */
nav.Menubar ul, nav.Menubar ol { list-style: none; }
nav.Menubar li { margin-left: 0; }
nav.Menubar hr {
	margin: 0.25rem auto;
	width: 90%;
}
nav.Menubar {
	font-weight: 700;
}
nav.Menubar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav.Menubar > ul {
	height: 100%;
}
nav.Menubar > ul > li {
	display: inline-flex; /* inline-block */
	align-items: center;
}
nav.Menubar li {
	padding: 0 1rem;
	cursor: pointer;
	height: 100%;
}
nav.Menubar ul ul li { padding: 0.25rem 1rem; }
nav.Menubar ul ul li.menubar-view-item { padding: 0 1rem; }
nav.Menubar ul ul {
	display: none;
	position: absolute;
	/*min-width: calc(var(--menubar-height) * 3);*/
	z-index: 5; /* Ace code editor line number gutter is z-index: 4 */
	top: calc(var(--menubar-height) - var(--menubar-border-width));
}
nav.Menubar ul ul li { position: relative; }
nav.Menubar ul ul ul {
	top: 0px;
	left: calc(var(--app-font-size) * 6);
}

nav.Menubar li:hover > ul {
	display: block;
}

/*file open hidden input dialog trigger*/
nav.Menubar input {
	display: none;
}

/* COLORS */

:global(.light-mode) nav.Menubar,
:global(.light-mode) nav.Menubar ul ul {
	background-color: white;
	color: black;
}
:global(.light-mode) nav.Menubar {
	border-bottom: var(--menubar-border-width) solid #fb4;
}
:global(.light-mode) nav.Menubar ul ul {
	box-shadow: 0 calc(var(--app-font-size) * 0.5) var(--app-font-size) 0 rgba(0, 0, 0, 0.25);
}
:global(.light-mode) nav.Menubar li[highlighted=true] {
	background-color: #e53;
	color: white;
}
:global(.light-mode) nav.Menubar li:hover {
	background-color: #fb4;
	color: black;
}

:global(.dark-mode) nav.Menubar,
:global(.dark-mode) nav.Menubar ul ul {
	background-color: var(--darkmode-gray-2);
	color: var(--darkmode-gray-9);
}
:global(.dark-mode) nav.Menubar {
	border-bottom: var(--menubar-border-width) solid var(--darkmode-blue-dark);
}
:global(.dark-mode) nav.Menubar ul ul {
	box-shadow: 0 calc(var(--app-font-size) * 0.5) var(--app-font-size) 0 black;
}
:global(.dark-mode) nav.Menubar li[highlighted=true] {
	background-color: var(--darkmode-blue);
	color: white;
}
:global(.dark-mode) nav.Menubar li:hover {
	background-color: var(--darkmode-blue-dark);
	color: white;
}


@media not all and (hover), (max-aspect-ratio: 1/1) {
	.Menubar {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	:global(.light-mode) nav.Menubar > ul {
		background-color: #eee;
	}
}
