.Panel {
	margin: 1rem;
}

.Body {
	color: black;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	gap: calc(var(--app-font-size) * 0.25);
}

.Titlebar {
	color: white;
	font-weight: bold;
	letter-spacing: 0.15rem;
	line-height: var(--menubar-height);
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
}

.Titlebar p {
	padding: 0 1rem;
	flex: 1;
}

.CollapseButton {
	width: var(--menubar-height);
	height: var(--menubar-height);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.CollapseButton img {
	width: 1rem;
	height: 1rem;
}

.Panel textarea {
	resize: vertical;
}

.Panel ul {
	list-style: none;
}

.Panel ul li {
	margin-left: calc(var(--app-font-size) * 0.5);
}


/* COLORS */

:global(.light-mode) .Body {
	background-color: white;
	color: black;
}
:global(.dark-mode) .Body {
	background-color: var(--darkmode-gray-2);
	color: var(--darkmode-gray-8);
}

:global(.light-mode) .Titlebar {
	background-color: #e53;
	color: white;
}
:global(.dark-mode) .Titlebar {
	background-color:  var(--darkmode-pink-dark);
	color: var(--darkmode-white);
}

:global(.light-mode) .CollapseButton { background-color: #fb4; }
:global(.light-mode) .CollapseButton:hover { background-color:  #fc6; }
:global(.dark-mode) .CollapseButton { background-color: var(--darkmode-pink); }
:global(.dark-mode) .CollapseButton:hover { background-color: var(--darkmode-pink-light); }
