.CP {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	overflow: hidden;
}
.Top { align-items: flex-start; }
.Center { align-items: center; }

.CP svg {
	max-height: calc(100vh - var(--menubar-height));
	overflow: visible;
}

@media not all and (hover), (max-aspect-ratio: 1/1) {
	:global(.View-Items-0) .CP svg { max-height: 100vh; }
	:global(.View-Items-1) .CP svg { max-height: 100vh; }
	:global(.View-Items-2) .CP svg { max-height: 50vh; }
	:global(.View-Items-3) .CP svg { max-height: 33.33333vh; }
	/* mobile layout overwrites this feature - move up when terminal opens */
	.Top { align-items: center; }
}
