/* mountain: "0.02 0.035 0.001 0.035" valley "0.02 0.035" */
svg.foldedForm { stroke-width: 0.005; }

/* folded faces */
.light-mode svg.foldedForm .faces .front { fill: white; }
.light-mode svg.foldedForm .faces .back { fill: #e53; }
.light-mode svg.foldedForm .highlight { stroke: black; }
.light-mode svg.foldedForm polygon.highlight { fill: #fb4; stroke: none; }
.light-mode svg.foldedForm circle.highlight { fill: black; stroke: none; }
.dark-mode svg.foldedForm .faces .front { fill: var(--darkmode-gray-4); }
.dark-mode svg.foldedForm .faces .back { fill: var(--darkmode-blue); }
.dark-mode svg.foldedForm .highlight { stroke: var(--darkmode-gray-7); }
.dark-mode svg.foldedForm polygon.highlight { fill: var(--darkmode-pink); stroke: none; }
.dark-mode svg.foldedForm circle.highlight { fill: #fb4; stroke: none; }

/* crease lines */
.light-mode svg.foldedForm .diagram-layer { stroke: black; }
.light-mode svg.foldedForm .diagram-layer .mountain { stroke: black; }
.light-mode svg.foldedForm .diagram-layer .valley { stroke: black; }
.light-mode svg.foldedForm .diagram-layer .flat { stroke: black; }
.dark-mode svg.foldedForm .diagram-layer { stroke: var(--darkmode-gray-8); }
.dark-mode svg.foldedForm .diagram-layer .mountain { stroke: var(--darkmode-gray-8); }
.dark-mode svg.foldedForm .diagram-layer .valley { stroke: var(--darkmode-gray-8); }
.dark-mode svg.foldedForm .diagram-layer .flat { stroke: var(--darkmode-gray-8); }

/* diagram lines/arrows */
.light-mode svg.foldedForm .diagram-layer .arrow {
	stroke: black;
	fill: black;
}
.dark-mode svg.foldedForm .diagram-layer .arrow {
	stroke: var(--darkmode-gray-6);
	fill: var(--darkmode-gray-6);
}
