/* param layer */
.light-mode .param-layer circle { stroke: none; fill: #e53; }
.light-mode .param-layer line { stroke-linecap: round; stroke: black; }
.light-mode .param-layer polygon { stroke: none; fill: #fb4; }
.light-mode .param-layer rect { stroke: none; fill: #fb4; opacity: 0.75; }
.dark-mode .param-layer circle { stroke: none; fill: #fb4; } /*var(--darkmode-red);*/
.dark-mode .param-layer line { stroke-linecap: round; stroke: #fb4; }
.dark-mode .param-layer rect { stroke: none; fill: var(--darkmode-red); opacity: 0.75; }
.dark-mode .creasePattern .param-layer polygon {
	stroke: none;
	fill: var(--darkmode-blue-dark);
}
.dark-mode .foldedForm .param-layer polygon {
	stroke: none;
	fill: var(--darkmode-blue-dark);
	opacity: 0.75;
}

/* solution layer */
.solution-layer { stroke-linecap: round; fill: none; }
.light-mode .solution-layer { stroke: black; }
.light-mode .solution-layer .nearest { stroke: black; }
.light-mode .solution-layer .far { stroke: #ddd; }
.dark-mode .solution-layer { stroke: #fb4; }
.dark-mode .solution-layer .nearest { stroke: #fb4; }
.dark-mode .solution-layer .far { stroke: #555; }

/* ruler layer */
.light-mode .ruler-layer .ruler-225 { stroke: #ccc; }
.light-mode .ruler-layer .ruler-axes { stroke: #888; }
.dark-mode .ruler-layer .ruler-225 { stroke: #333; }
.dark-mode .ruler-layer .ruler-axes { stroke: #555; }

/* simulator layer */
.simulator-layer { stroke: none; }
.light-mode .simulator-layer .simulator-polygon { fill: #fb4; }
.light-mode .simulator-layer .simulator-circle { fill: black; }
.light-mode .simulator-layer .simulator-vertex { fill: black; }
.dark-mode .simulator-layer .simulator-polygon { fill: #333; } /* #626; */
.dark-mode .simulator-layer .simulator-circle { fill: #999; }
.dark-mode .simulator-layer .simulator-vertex { fill: #fb4; }

/* debug layer */
.light-mode .debug-layer .drag-line { stroke: black; fill: none; }
.light-mode .debug-layer .press-circle { stroke: none; fill: #3c7; }
.light-mode .debug-layer .release-circle { stroke: none; fill: #e53; }
.dark-mode .debug-layer .drag-line { stroke: #ccc; fill: none; }
.dark-mode .debug-layer .press-circle { stroke: none; fill: #3c7; }
.dark-mode .debug-layer .release-circle { stroke: none; fill: #e53; }
